*{
    margin: 0;
    padding: 0.0625rem;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: "Poppins", sans-serif;
}

#logo {
    width: 88%;
    z-index: 10;
    padding-top: 3rem;
    align-items: center;
    margin-left: 2.5rem;
}

#title {
    font-family: 'Bebas Neue';
    font-weight: 600;
    line-height: 134%;
    color: #F0F0F0;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #8D3AC0;
    font-size: 7.4vw;
}

nav{
    background-color: black !important;
}

section{
    background-color: black;
}

.scan_div{
    background-color: black;
}

.nav-item {
    font-size: 1.5vw;
}

.nav-link {
    font-size: 2vw;
    color: white !important;
    font-weight: 700;
}

nav ul li a {
    margin-right: 0.5rem;
}

#qr {
    width: 37%;
}

#treasure {
    width: 60%;
}

#mfc {
    width: 10%;
}

#scan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#scan_btn {
    background: linear-gradient(269.34deg, #9F41FE 5.06%, #A81C1C 185.18%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 70px;
    color: #F0F0F0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    padding: 2px;
}

.bton {
    font-size: 1.5rem;
}
/* #navi::after {
    content: '';
    position: absolute;
    transform: translateX(40%);
    width: 23%;
    height: 120%;
    border-radius: 50%;
    box-shadow: 188px 198px 1px rgb(168 28 28 / 28%);
    filter: blur(17px);
    transform: scale(1);
}

#title_section::before {
    content: '';
    position: absolute;
    transform: translateX(-106%);
    width: 30%;
    height: 16%;
    border-radius: 50%;
    box-shadow: 53px 8px 0px rgb(73 158 164);
    filter: blur(36px);
    transform: scale(-0.8, 0.8);
} */

/* #title_section::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    transform: translate(303px,-170px);
    background: #8D3AC0;
    filter: blur(54px);
} */

.container{
    width: 100% !important;
}


.inf{
    background: #000000;
    padding-top: 1rem;
}

.about_title {
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0.085em;
    position: relative;
}

h2 {
    text-align: center;
}

.about_us {
    width: 80%;
    position: relative;
    height: auto;
    background: linear-gradient(91.48deg, #131313 -3.1%, rgba(224, 86, 253, 0) 211.9%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    /* display: flex; */
    flex-wrap: wrap;
    padding: 1rem;
    color: white;
    border-radius: 20px;
    
}

.hints_section {
    background-color: black;
}

.hints_title {
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0.085em;
}

.hint {
    width: 80%;
    position: relative;
    height: auto;
    background: linear-gradient(91.48deg, #131313 -3.1%, rgba(224, 86, 253, 0) 211.9%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    color: white;
    border-radius: 20px;
}

/* .hints_section::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    transform: translate(24rem, -12rem);
    background: #8D3AC0;
    filter: blur(110px);
    z-index: -1;
} */

.bod{
  background: #000000;
}
/* .lead{
  position:absolute;
  top: 2873px;
  font-family: 'Poppins';
font-style: normal;
color: #FFFFFF;
} */

.leada{
  padding: 0.0625rem;
  width: 100%;
  color: #FFFFFF;
  font-size: 2rem;
}

.sre{
  font-size: 109.985px;
}

.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

td:nth-child(1){
  width: 70%;
  text-align: center;
}

td:nth-child(2){
  text-align: center;
}

/* .full_board{
  width: 100vh;
  height: 200vh;

} */

#board{
  width: 80%;
  margin: auto;
}

.edit{
  background: linear-gradient(269.34deg, #9F41FE 5.06%, #A81C1C 185.18%);
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 20px;
border-color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}

.fot {
    padding-bottom: 2rem;
    padding-top: 3rem;
    font-size: 1.2rem;
}